body {
    width: 100%;
    color: #000;
    font-family: $base-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.container {
    max-width: 1720px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 120%;
    color: $dark-primary-secondary;

    @include _700 {
        font-size: 50px;
    }
}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    color: $dark-primary-secondary;

    @include _700 {
        font-size: 40px;
    }
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: $dark-primary-secondary;
}

button {
    font-family: $base-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
