@font-face {
    font-family: 'roboto';
    src: url('@/assets/fonts/Roboto.woff2') format('woff2'), url('@/assets/fonts/Roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}