@mixin textEllipsis($count) {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
}

@mixin _1920 {
    @media screen and (max-width: $desktop-medium) {
        @content
    }
}

@mixin _1300 {
    @media screen and (max-width: $desktop-small) {
        @content
    }
}

@mixin _1024 {
    @media screen and (max-width: $tablet-size) {
        @content
    }
}

@mixin _700 {
    @media screen and (max-width: $mobile-size) {
        @content
    }
}
