//fade
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

//fadeChange
.fadeChange-enter-active {
    transition: opacity .4s .15s;
}

.fadeChange-leave-active {
    position: absolute;
    transition: opacity .4s;
}

.fadeChange-enter-from, .fadeChange-leave-to {
    opacity: 0;
}

//for page
.page-opacity-enter-active,
.page-opacity-leave-active {
    transition: .6s ease all;
}

.page-opacity-enter-from,
.page-opacity-leave-to {
    opacity: 0;
}
