//цвета
$primary: #5E3BEE;
$dark-primary: #282938;
$dark-primary-secondary: #1C1E53;
$base-gray: #bdbdbd;
$base-light: #F5FCFF;
$base-pink: #E62872;
$error: #FA5555;
$base-dark: #000;

//шрифт
$base-font: 'Roboto';

// размер экрана
$desktop-medium: 1919px;
$desktop-small: 1300px;
$tablet-size: 1024px;
$mobile-size: 700px;
