//fade
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

//fadeChange
.fadeChange-enter-active, .fadeChange-leave-active {
  transition: opacity .4s .15s;
}

.fadeChange-leave-active {
  position: absolute;
  transition: opacity .4s;
}

.fadeChange-enter-from, .fadeChange-leave-to {
  opacity: 0;
}