$primary: rgb(79 70 229);
$dark-primary: rgb(49 46 129);
$darkest-primary: rgb(30 27 75);

$danger: #C94040;
$pink: #F3DADA;

$success: #17c653;
$light-success: #eafff1;

$light: #F5FCFF;
$gray: #bdbdbd;
$dark: #000;

$font-inter: 'Inter', sans-serif;

$tw-card-border: 1px solid #f1f1f4;
$tw-card-box-shadow: 0px 3px 4px 0px #00000008;

$tw-sm: 640px;
$tw-md: 768px;
$tw-lg: 1024px;
$tw-xl: 1280px;
$tw-2xl: 1536px;